/calibrated_manipulation_stage_1.csv
/calibrated_manipulation_stage_2.csv
/calibrated_manipulation_stage_3.csv
/designing_stage_1.csv
/designing_stage_2.csv
/designing_stage_3.csv
/designing_stage_4.csv
/designing_stage_5.csv