<launch>
     <arg name="camera_link_pose" default="1.6933452 0.000003753378 0.167386 3.2181936841 -0.005102192 -0.0004317"/>
     <node pkg="tf" type="static_transform_publisher" name="camera_optical_frame_broadcaster"
               args="$(arg camera_link_pose) /base /camera_link 100" />
</launch>
